aiohttp==3.9.0b0
apscheduler==3.10.4
astor==0.8.1
aws_xray_sdk==2.12.1
boto3==1.28.21
Flask==3.0.3
Flask-Cors==4.0.2
Flask-SocketIO==5.3.6
graphviz==0.20.1
imageio==2.33.0
imageio-ffmpeg==0.4.9
js2py==0.74
numpy==1.23.4
onnxruntime==1.14.1
opcua==0.98.13
psutil==5.9.2
pyzmq==25.1.2
requests==2.32.2
strenum==0.4.15
waitress==3.0.1
Werkzeug==3.0.6
